<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link type="text/css" rel="stylesheet" href="/css/style.css"/>
    </head>

    <body>
        
       {{>header}}
       <div class="mid">
            <p>Welcome {{firstname}} {{lastname}}</p>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/register">Register</a>
       </div>
       <div>
           {{#each data1}}
            <p>username: {{this.username}}</p>
            <p>email:  {{this.email}}</p>
            <p>address:  {{this.address}}</p>
           {{/each}}
       </div>

        {{>footer}}
    </body>
</html>